@font-face {
    font-family: 'Museo Sans 500';
    src: url('fonts/MuseoSans500.eot');
    src: url('fonts/MuseoSans500.eot?#iefix') format('embedded-opentype'),
         url('fonts/MuseoSans500.woff2') format('woff2'),
         url('fonts/MuseoSans500.woff') format('woff'),
         url('fonts/MuseoSans500.ttf')  format('truetype'),
         url('fonts/MuseoSans500.svg#Museo Sans') format('svg');
}

@font-face {
    font-family: 'Museo Sans';
    src: url('fonts/MuseoSans-300.eot');
    src: url('fonts/MuseoSans-300.eot?#iefix') format('embedded-opentype'),
         url('fonts/MuseoSans-300.woff2') format('woff2'),
         url('fonts/MuseoSans-300.woff') format('woff'),
         url('fonts/MuseoSans-300.ttf')  format('truetype'),
         url('fonts/MuseoSans-300.svg#Museo Sans') format('svg');
}

@font-face {
    font-family: 'Museo Sans 100';
    src: url('fonts/MuseoSans-100.eot');
    src: url('fonts/MuseoSans-100.eot?#iefix') format('embedded-opentype'),
         url('fonts/MuseoSans-100.woff2') format('woff2'),
         url('fonts/MuseoSans-100.woff') format('woff'),
         url('fonts/MuseoSans-100.ttf')  format('truetype'),
         url('fonts/MuseoSans-100.svg#Museo Sans') format('svg');
}